{% extends "base.html" %} {% load static %}

<!-- meta block corresponding to current page meta info HEAD -->
{% block page_meta_info %}
<meta name='description'
    content="see more about blogmyinfo here. blogmyinfo is the one of the best technology and programming based blog site" />
<meta name='keywords'
    content="technology, programming, coding, blog, python, tech, web development, about us, about page, blogmyinfo" />
{% endblock page_meta_info %}

<!-- main block corresponding to base.html BODY -->
{% block content %}

<section class="tm-section">
    <div class="container-fluid">
        <div class="row tm-2-rows-sm-swap">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 tm-2-rows-sm-down-2 ad-box">
                <div id="836143778">
                    <script type="text/javascript">
                        try {
                            window._mNHandle.queue.push(function () {
                                window._mNDetails.loadTag("836143778", "300x250", "836143778");
                            });
                        }
                        catch (error) { }
                    </script>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9 tm-2-rows-sm-down-1">
                <h3 class="tm-gold-text">About blogmyinfo</h3>
                <p>Oh, so you are one of those techy people. You like to program the things right? Great, Then I am your
                    best of friend. <br><strong>I, I am blogmyinfo.com</strong></p>
                <p>I will make sure you find every answer like your old school friend who annoys you like for no reason
                    (just annoying you now). I will act sometimes like your guide, your mentor, your well-wisher, your
                    partner, your workmate, and much more just to provide you the best and correct information as much
                    as possible. And incase you didn't find the information, you can contact me via contact tab and I
                    will make sure to provide the post related to it in a day or two.</p>
                <p>Thanks for visiting and giving your precious time to read this.</p>
            </div>
        </div>

        <div class="row tm-margin-t-mid">
            <div class="col-xs-12">
                <h3 class="tm-gold-text">About Founder</h3>
                <p>I, I am Jay, more specifically Jay Lalakiya. I started this <a
                        href="https://blogmyinfo.com">blogmyinfo.com</a> in June,2020 at
                    Surat (city
                    in Gujarat, India).</p>
                <p>This was an initiative to provide every information, related to programming and integrating
                    technology with this modern era, to everyone with a few clicks and without
                    wandering to dozens of sites.
                    <br>
                    And without any personal greed or need, I will keep improving to make
                    this possible.</p>
            </div>
        </div>

        <div class="row tm-margin-t-mid">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 tm-sm-m-b">
                <h3 class="tm-gold-text">About Privacy</h3>
                <p>Currently there is no storing system of personal information to the databases. Even with passing of
                    time if we need to setup an system to store your information to make the system better, your privacy
                    is the most important
                    concern before anything and we will stick with it to the end.</p>
                <p><u>Please read whole Privacy Policy <a href="#">here</a>.</u></p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3 class="tm-gold-text">About Terms of Service</h3>
                <p>
                    Plagiarism is never a practice nor an option to be appreciated.
                    <br>
                    If you want to use the article or post provided by us to anywhere or by any means in your content,
                    you need to contact us through contact tab, and proceed with the steps provided in reply.
                    <br>
                    Thank you much for your cooperation and support.
                </p>
                <p><u>Please read the whole Terms of Service <a href="#">here</a>.</u></p>
            </div>

        </div>
        <hr>

        <div class="row tm-margin-t-mid">

            {% for post in latest_posts %}
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">

                <div class="tm-content-box">
                    <img src="{{ post.thumbnail.url }}" alt="Image" class="tm-margin-b-30 img-fluid">
                    <h4 class="tm-margin-b-20 tm-gold-text">{{ post.title }}</h4>
                    <p class="tm-margin-b-20">{{ post.overview }}</p>
                    <a href="{{ post.get_absolute_url }}" class="tm-btn text-uppercase">Read more</a>
                </div>

            </div>
            {% endfor %}



            <h3 class="tm-gold-text tm-title tm-margin-b-30">
                Featured Posts
            </h3>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                {% for post in featured_posts %}
                <div class="tm-content-box tm-margin-b-30">
                    <a href="{{ post.get_absolute_url }}" class="tm-text-link">
                        <h4 class="tm-margin-b-20 tm-thin-font">{{ post.title }}</h4>
                    </a>
                    <p class="tm-margin-b-30">{{ post.overview }}</p>
                    <hr>
                </div>
                {% endfor %}

            </div>
        </div> <!-- row -->

    </div>
</section>
{% endblock content %}