<!DOCTYPE html>
<html lang="en" xml:lang="en" style="scroll-behavior: smooth">

<head>
    {% block page_meta_info %}
    <!-- here page info (description and keywords are corresponded) -->
    {% endblock page_meta_info %}

    {% include "head.html" %}

</head>

<body>
    <style>
        p {
            text-align: justify;
        }

        .footer-icon {
            width: 100px;
        }

        .footer-icon:hover {
            transition-duration: 0.2s;
            filter: invert(50%);
        }

        .ad-box {
            text-align: center;
            border: solid 1px rgb(128, 128, 128);
            background-color: rgb(236, 236, 236);
            height: 300px;
        }
    </style>
    {% include "header.html" %}

    {% block content %}
    {% endblock content %}

    {% include "footer.html" %}
    {% include "scripts.html" %}

    <!-- ! trion connect advertising script START -->
    <script type='text/javascript' src='https://in-appadvertising.com/api/embeds/31281/1.js?cb=%%TIMESTAMP%%'></script>
    <!-- ! trion connect advertising script END -->
</body>

</html>