{% extends "base.html" %}
{% load static %}

{% block page_meta_info %}
<meta name="description"
    content="Explore the category wise posts with blogmyinfo. Visit us and enjoy the trends mostly related to technology and programming. We try hard to organize the informaion and deliver right to you.">
<meta name="keywords"
    content="technology, programming, coding, blog, tech, web development,category wise, {{ category.title }}, blogmyinfo">
{% endblock page_meta_info %}


{% block content %}

{% endblock content %}