{% load static %}

<footer class="tm-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="tm-footer-content-box">
                    <h3 class="tm-gold-text tm-title tm-footer-content-box-title">
                        Proin eu posuere felis
                    </h3>
                    <div class="tm-gray-bg">
                        <p>
                            Aenean cursus tellus mauris, quis consequat mauris dapibus id.
                            Donec scelerisque porttitor pharetra.
                        </p>
                        <p>
                            Aenean cursus tellus mauris, quis consequat mauris dapibus id.
                            Donec scelerisque porttitor pharetra.
                        </p>
                        <p><strong>Danny Egg (Executive)</strong></p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="tm-footer-content-box tm-footer-links-container">
                    <h3 class="tm-gold-text tm-title tm-footer-content-box-title">
                        Useful Links
                    </h3>
                    <nav>
                        <ul class="nav">
                            <li>
                                <a href="#" class="tm-footer-link">Tincidunt non faucibus</a>
                            </li>
                            <li><a href="#" class="tm-footer-link">Vestibulum tempor</a></li>
                            <li>
                                <a href="#" class="tm-footer-link">Fusce non turpis euismod</a>
                            </li>
                            <li>
                                <a href="#" class="tm-footer-link">Lorem ipsum dolor sit</a>
                            </li>
                            <li>
                                <a href="#" class="tm-footer-link">Nam in augue consectetur</a>
                            </li>
                            <li>
                                <a href="#" class="tm-footer-link">Text Link Color #CCCC66</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- Add the extra clearfix for only the required viewport 
                    http://stackoverflow.com/questions/24590222/bootstrap-3-grid-with-different-height-in-each-item-is-it-solvable-using-only
                -->
            <div class="clearfix hidden-lg-up"></div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="tm-footer-content-box">
                    <h3 class="tm-gold-text tm-title tm-footer-content-box-title">
                        Today's News
                    </h3>
                    {% for news in news_list %}
                    <p class="tm-margin-b-15">
                        {{ news.title }}
                    </p>
                    <hr class="tm-margin-b-15" />
                    {% endfor %}
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="tm-footer-content-box">
                    <h3 class="tm-gold-text tm-title tm-footer-content-box-title">
                        Social Existence
                    </h3>
                    <div class="tm-margin-b-30">
                        <a href="#"><img src="{% static 'img/insta-icon.png' %}" alt="Instagram Icon"
                                class="tm-footer-thumbnail footer-icon" /></a>
                        <a href="#"><img src="{% static 'img/fb-icon.png' %}" alt="Facebook Icon"
                                class="tm-footer-thumbnail footer-icon" /></a>
                        <a href="#"><img src="{% static 'img/linkedin-icon.png' %}" alt="LinkedIn Icon"
                                class="tm-footer-thumbnail footer-icon" /></a>
                        <a href="#"><img src="{% static 'img/twitter-icon.png' %}" alt="Twitter Icon"
                                class="tm-footer-thumbnail footer-icon" /></a>
                        <a href="#"><img src="{% static 'img/yt-icon.png' %}" alt="Yotube Icon"
                                class="tm-footer-thumbnail footer-icon" /></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 tm-copyright-col">
                <p class="tm-copyright-text">
                    &copy;Copyright 2020 <a href="/" style="cursor: pointer;">blogmyinfo.com</a>
                </p>
            </div>
        </div>
    </div>
</footer>