{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="tm-section">
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis reprehenderit ab, culpa
                    molestias ex, praesentium cumque facilis vel, iste eveniet odit accusamus quibusdam libero quasi
                    totam est nemo repudiandae perspiciatis?Lorem ipsum dolor sit amet consectetur, adipisicing
                    elit. Sed error omnis harum nulla reiciendis ipsa magnam at modi deleniti nam vitae illo
                    molestiae tempora, vero amet quisquam tenetur eius et!lorem lorem ipsum Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Atque facere et fuga amet libero deserunt nesciunt quam
                    commodi nihil possimus. Deleniti fuga ab dolorem, eum maxime quae harum dolorum nisi! Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Ab molestiae laboriosam deleniti voluptatum,
                    doloremque quis soluta iusto! Nobis ea mollitia amet vel delectus aut laboriosam est quod
                    maiores temporibus ipsam, laborum architecto expedita fuga? Saepe non porro deleniti maiores
                    beatae dolorem dicta omnis quibusdam natus, labore temporibus amet suscipit nihil fugit
                    architecto ducimus aliquam eos sequi, ipsam praesentium officiis eligendi pariatur unde. A
                    adipisci dolorem quaerat fuga eveniet similique eum delectus consectetur rerum asperiores eius
                    quae dignissimos dicta vero perferendis qui nobis, illum saepe laborum, odio minima sequi quia!
                    Libero non dolorem possimus dolore magni repudiandae dolorum inventore delectus repellat est
                    fugiat mollitia, sit error deserunt perferendis ea. Odit dolores quod, facilis vero, atque
                    voluptas voluptatem laborum impedit deserunt minus eaque pariatur modi nemo repellendus.
                    Consectetur corrupti, maiores esse explicabo nisi hic blanditiis corporis reiciendis provident.
                    Accusantium, rerum tenetur perspiciatis hic laborum iusto, doloribus ut ratione pariatur,
                    distinctio numquam mollitia culpa amet? Animi qui blanditiis nesciunt praesentium harum
                    cupiditate et facere inventore dolor aliquam minus, in corrupti unde non quae fugiat ea cum id
                    atque vitae sapiente at! Quaerat laborum expedita numquam, necessitatibus tempora nulla
                    inventore. Ratione id nam perferendis culpa tenetur, illum ipsum suscipit vitae, libero facere
                    rem ab modi accusamus distinctio voluptas! Amet earum nobis, ea eligendi animi dicta laudantium
                    pariatur sint modi ratione cum? Fugiat voluptatum omnis rem porro optio molestias! Explicabo
                    doloremque repellendus qui ab soluta. Iusto accusantium ipsam assumenda error itaque pariatur
                    nisi aspernatur ea dolorem corrupti, dicta excepturi eius ex nemo rerum beatae accusamus sequi
                    et delectus quasi dolorum ducimus saepe illum. Aliquam maiores in iure molestias perspiciatis
                    corporis numquam ipsum, laboriosam repellendus qui blanditiis mollitia exercitationem dolore non
                    temporibus similique dolores expedita reiciendis quibusdam soluta alias, obcaecati magni! Velit
                    obcaecati tenetur aliquid, cum facere totam necessitatibus! Explicabo, placeat, alias voluptas
                    repellendus totam non unde sapiente blanditiis a quibusdam incidunt tenetur, magnam ab quos.
                    Sapiente consectetur repudiandae quae, sequi porro at veniam, distinctio voluptas dolor culpa
                    amet. Sequi tempore quidem alias enim unde repellendus, vel expedita quaerat aliquid totam
                    eligendi dolores quae tenetur fugiat illo error consectetur repellat, adipisci nostrum obcaecati
                    sapiente commodi architecto. Vitae facilis suscipit quo ratione blanditiis consectetur nihil,
                    excepturi labore dignissimos rem quod deserunt quam quia eum fugiat aut enim dolore molestias
                    ipsa. Suscipit, totam accusantium. Eveniet enim esse quibusdam, in blanditiis doloremque
                    veritatis libero error distinctio necessitatibus dignissimos vitae corrupti magnam dolorem culpa
                    id totam sequi assumenda. Alias esse, repellendus maxime est non perspiciatis eius quasi dolorum
                    temporibus repellat fugit earum nobis, quia, tempore consequatur incidunt natus voluptas?
                    Mollitia, repellendus amet aspernatur sapiente necessitatibus temporibus. Non magni mollitia
                    repudiandae corporis quisquam amet perspiciatis dicta, id voluptatum, nam impedit harum
                    temporibus quaerat incidunt repellat, adipisci beatae commodi voluptatem sint error reiciendis
                    ex? Cum, doloremque non maxime eius, temporibus aut repudiandae perferendis dolorem rem ea,
                    earum recusandae suscipit fuga facilis libero nesciunt incidunt ad quod? Quidem iste
                    exercitationem consequatur odit est. Deleniti, perferendis. Explicabo qui corrupti voluptatum
                    labore, alias minus nostrum dolorem sequi saepe, facilis excepturi quod sunt eligendi in
                    expedita, quidem facere! Incidunt sint quas et dolores minima odio provident voluptate quo
                    temporibus dolorum libero perspiciatis, iste beatae quos vel cum ea earum tempore, perferendis
                    numquam architecto sed? Incidunt ea voluptatem sequi qui expedita corporis excepturi
                    voluptatibus. Tempora tempore asperiores aspernatur et non voluptatibus, assumenda suscipit
                    quisquam perferendis porro mollitia nostrum odit ex consectetur, minima eius aperiam. Iure atque
                    accusamus pariatur? Error similique reprehenderit, a beatae molestiae voluptates expedita id
                    placeat ipsam et itaque officia nobis reiciendis omnis quibusdam velit modi harum optio ipsum
                    voluptatem quod tenetur excepturi distinctio. Odit, natus sed! Porro dolor nihil, culpa nulla
                    deserunt ipsum est soluta tenetur. Reprehenderit tenetur in reiciendis laborum eius corporis
                    voluptatum autem optio necessitatibus delectus consequatur labore error nisi, quibusdam
                    provident obcaecati! Aliquid adipisci minus dolores pariatur error sequi, quibusdam sapiente
                    expedita. Eligendi voluptate nesciunt maxime nihil dolores ut! Delectus enim labore cumque non
                    doloremque eligendi quisquam suscipit quidem, at recusandae animi officiis, similique minima
                    repellat! Corporis recusandae quam omnis veritatis numquam culpa iusto, nulla quisquam
                    asperiores, porro magnam deserunt accusantium beatae debitis, reiciendis perspiciatis. Qui
                    ratione nemo minus blanditiis cupiditate adipisci perferendis, tempora est quam fugiat, mollitia
                    harum! Officiis saepe deserunt sunt, quos beatae odio iusto corrupti sed libero delectus quae
                    neque voluptates at architecto vero necessitatibus reiciendis rem debitis esse omnis suscipit
                    quas eveniet id nisi. Vitae molestiae earum necessitatibus cum, iure quis accusamus explicabo
                    voluptatibus voluptate consequuntur perspiciatis quos, id commodi veniam molestias eius! Eveniet
                    dolores neque quod soluta rem esse. Qui nemo omnis doloribus, quod, et in voluptas autem neque
                    aliquam ut deserunt id ipsam enim maxime molestiae molestias ducimus accusamus dicta magni illum
                    sit recusandae. Natus, sequi. Saepe quasi molestiae sit quidem nesciunt rem unde distinctio
                    ipsam laboriosam. Ad eaque autem eius, odit a laboriosam officiis alias deserunt veritatis
                    tenetur. Porro perferendis, optio expedita sed quasi natus quisquam laudantium corporis placeat
                    voluptate recusandae sint enim cupiditate, dolor a autem aut facilis illo. Quod a dolor dolore
                    doloremque ab ratione mollitia illo quae suscipit natus vero aspernatur consequuntur esse, magni
                    voluptatum modi ut asperiores molestias laboriosam! Rem id soluta et odit expedita asperiores
                    veritatis nam aperiam velit laboriosam dolores vitae qui at cupiditate animi nihil ullam
                    provident, numquam repellendus sequi! Blanditiis nisi inventore, suscipit modi illo quae non?
                    Labore illum illo, magnam enim optio provident vitae eligendi inventore impedit molestias nihil
                    vel est eveniet rem dicta facilis ducimus? Quaerat deleniti consequuntur officiis odit. Qui
                    nulla ratione aliquid vel reiciendis rem repellat consequuntur illum nesciunt? Quam et debitis
                    blanditiis fugit cumque mollitia adipisci vitae illo provident ratione cum possimus, error
                    numquam maiores quibusdam esse corrupti impedit? Adipisci dolorum voluptate nisi expedita rem
                    commodi, excepturi pariatur, saepe ullam optio repudiandae atque vel blanditiis consectetur
                    aperiam provident sunt deleniti exercitationem magni placeat repellendus? Iusto deserunt, libero
                    totam recusandae vitae est alias debitis dolores nam pariatur? Illum accusamus ab dolore?
                    Eligendi error beatae alias quibusdam consequuntur quidem dolorum laborum, quia aliquam
                    explicabo optio quae nulla non velit similique facere doloremque tempora, ullam asperiores iusto
                    quos assumenda quis? Maiores accusamus quos commodi! Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. At, architecto. Dolorem, voluptatum non! Mollitia itaque iure doloremque
                    repudiandae tempore impedit totam ab possimus cumque? Beatae eum placeat accusamus minima natus.
                </p>

                <!-- {% for post in latest %}
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

                        <div class="tm-content-box">
                            <img src="{{ post.thumbnail.url }}" alt="Image" class="tm-margin-b-30 img-fluid">
                            <h4 class="tm-margin-b-20 tm-gold-text">{{ post.title }}</h4>
                            <p class="tm-margin-b-20">{{ post.overview }}</p>
                            <a href="{{ post.get_absolute_url }}" class="tm-btn text-uppercase">Read more</a>
                        </div>

                    </div>
                    {% endfor %} -->


            </div>

            <aside class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 tm-aside-r">

                <div class="tm-aside-container">
                    <h3 class="tm-gold-text tm-title">
                        Categories
                    </h3>
                    <nav>
                        <ul class="nav">
                            {% for category in categories %}
                            <li>
                                <a href="#" class="tm-text-link">{{ category.categories__title }}</a>
                                <span style="float:right">{{ category.categories__title__count }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>

                    {% for post in featured %}
                    <hr class="tm-margin-t-small">
                    <div class="tm-content-box tm-margin-t-small">
                        <a href="{{ post.get_absolute_url }}" class="tm-text-link">
                            <h4 class="tm-margin-b-20 tm-thin-font">{{ post.title }}</h4>
                        </a>
                        <p class="tm-margin-b-30">{{ post.overview }}</p>
                    </div>
                    {% endfor %}
                </div>


            </aside>

        </div>

    </div>
</section>
{% endblock content %}